@import "./colors";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.h5p-dropdown-field {
  background-color: $color-background;
  color: $color-text;
}

.h5p-dropdown-field-description {
  & > * {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  &.required > :last-child:after {
    color: #da0001;
    content: "*";
    font-size: 1.1em;
    padding-left: 4px;
  }
}
